<form [formGroup]="searchForm" (ngSubmit)="getData()">
    <div class="d-flex">
        <input class="form-control me-3" type="text" placeholder="introduce un nombre" formControlName="name">
        <button [disabled]="!searchForm.valid" type="submit" class="btn btn-info">BUSCAR<i
                class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    <p *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.hasError('required')" class="text-danger">
        Campo Obligatorio</p>

    <p *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.hasError('minLength')" class="text-danger">
        Obligatorio más de 4 letras</p>

    <p *ngIf="searchForm.get('name')?.touched && searchForm.get('name')?.hasError('miValidador')" class="text-danger">
        No puedes buscar a mario giron</p>
</form>