<section class="container mt-3">
    <button [routerLink]="['/home']" class="btn btn-info mb-3">Volver a busqueda</button>
    <div class="card shadow p-3">
        <figure>
            <img [src]="myUser?.avatar_url">
        </figure>
        <p>{{myUser?.name}}</p>
        <div class="progress" role="progressbar" aria-label="Warning example" aria-valuenow="75" aria-valuemin="0"
            aria-valuemax="100">
            <div class="progress-bar text-bg-warning" [style]="'width:' + myUser?.followers * 100 / 1000 + '%'">
                {{myUser?.followers}} followers</div>
        </div>
    </div>

</section>